{% extends 'base.html' %}

{% block title %}HOME PAGE{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/signup/stylesheet.css">
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
{% endblock %}

{% block body %}
<div class="bannar">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flashes">
          {% for message in messages %}
             <div class="alert hide">
         <span class="msg">{{ message }}</span>
         <div class="close-btn">
         </div>
      </div>
          {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}
    <script>

        setTimeout(pop_up(), 4000);
        setTimeout(pop_up(), 2000);
        function pop_up(){
          $('.alert').addClass("show");
          $('.alert').removeClass("hide");
          $('.alert').addClass("showAlert");

          setTimeout(function(){
            $('.alert').removeClass("show");
            $('.alert').addClass("hide");
          },5000);
        };

        function close(){
          $('.alert').removeClass("show");
          $('.alert').addClass("hide");
        };
     </script>
     <div class="sign-up-box">
        <form action="http://localhost:5000/sign-up" method="post">
            <h1>SIGN-UP</h1>
            <p><b>Sign-up to book your ticket now!</b></p>
            <input type="text" name="username" placeholder="User name"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="password" name="cpassword" placeholder="Confirm Password"><br>
            <button type="submit">SIGN-UP</button>
        </form>
     </div>
</div>
{% endblock %}